<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>HelloPage</title>
</head>
<body>

<form action="/index.html" method="post">
    Login: <input type="text" name="message">
    <input type="submit" value="Ok">
</form>

<div class="products">
<table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <#list products as product>
            <tr>
                <td>${product.id}</td><br>
                <td>${product.name}</td><br>
                <td>${product.price}</td><br>
                <td>
                    <button onclick="document.location='/add.html'">Update</button>
                </td>
                <td>
                    <!--<form action="/products/delete" method="post">
                    <button type="submit" onclick="document.location='/products.html'">Delete</button>
                    </form>-->
                    <button type="submit" onclick="document.location='/products/delete'">Delete</button>
                </td>
            </tr>
        </#list>
    </tbody><br><br>
</table>
    <button onclick="document.location='/add.html'">Add product</button>
</div>

</body>
</html>